* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f3f3f3;
}

header {
    background: #131921;
    color: white;
    padding: 15px 20px;

    display: flex;
    align-items: center;
    gap: 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: orange;
}

#searchInput {
    flex: 1;
    padding: 10px;
}

.cart {
    font-size: 28px;
}

.container {
    display: flex;
}

.sidebar {
    width: 250px;
    background: white;
    padding: 20px;
}

.filter-section {
    margin-top: 20px;
}

.filter-section label {
    display: block;
    margin: 8px 0;
}

main {
    flex: 1;
    padding: 20px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(220px,1fr));
    gap: 20px;
}

.card {
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card h3 {
    margin: 10px 0;
}

.price {
    font-size: 20px;
    font-weight: bold;
}

button {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border: none;
    background: orange;
    cursor: pointer;
}

button:hover {
    background: darkorange;
}

@media(max-width:768px){

    .container{
        flex-direction: column;
    }

    .sidebar{
        width:100%;
    }
}